/_planning
/_scripts
_old*
_old/
__pycache__*
__pycache__/
temp*
temp/
*.pyc
*.pyo
.DS_Store

README/*.py
README/__pycache__
README/_junk
README/Lib
README/partials
README/*.md
README/*.sh
README/version

Test/DF_A_vfc_ufo

geckodriver.log