.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #333;
  overflow: hidden;
  font-family: "Roboto Mono", monospace;
  /*font-size: 16px;*/
  line-height: 1.8;
  word-wrap: break-word;
  font-kerning: initial;
  /*padding: 1cm;*//* 2.54cm 2.54cm 2.54cm;*/

}

.sidebar {
  display: none;
}
* {
  font-size: 92% !important;
  line-height: 125% !important;

}

@page {
  counter-increment: pagebased 1;
  @bottom-right{
      font-size: 10px;
      padding-bottom: 0.5cm;
      padding-right: 0.25cm;
      font-family: "Roboto Mono", monospace;
      content: counter(pagebased);/*"Page "  " of " counter(pages);*/
  }
 /* @bottom-center {
    content: "pagebased counter on page " counter(page + 1) " is: " counter(pagebased);
  }*/
}

/*h3 strong {
  display: none;
}*/

ul.toc a::after {
  content: leader('.') target-counter(attr(href), page);
}

ul,
li{
  font-size: 11px !important;
}

pre .codehilite {
  border: 1px solid #ccc !important;
  border-radius: 3px;
  display: block;
  position: relative;
  padding: 20px;
  break-inside: avoid;
  /*width: 100%;*/
}
.codehilite {
  
  font-size: 12px !important;
}
hr {
  opacity: 0.2;
  background: none !important;
  border-width: 1px;
  border-bottom-color: #ccc !important;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

img,ul,p {
  break-inside: avoid;
}
img{
  max-width: 100% !important;
  min-width: 60% !important;
}

h1 {
  font-size: 2em !important
}

h2 {
  font-size: 1.5em !important
}
h3 {
  font-size: 1.25em !important
}
h4 {
  font-size: 1em !important
}
h5 {
  font-size: .875em !important
}
h6 {
  font-size: .85em !important
}


table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: 100%;
  overflow: auto
}
table td, table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5
}
table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1
}
table tr:nth-child(2n) {
  background-color: #f6f8fa
}
img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
  min-width: 40%;
}

.hide_head + table thead {display: none;}

/* Enumerated Ordered Lists*/

.enum_counter {
  position: static;
  display: inline-block;
  padding-left: 0.5rem;
  display: inline-block;
  color: #999;

}

ol{
  list-style-type: none;
  counter-reset: item;
  /*margin: 0;*/
  padding-left: 1rem;
  /*float: left;*/
  display: inline-block;
  clear: both;
  /*float: left;*/

  clear: both;
  width: 100%;
}

ol > li{
  display: table;
  counter-increment: item;
  /*margin-bottom: 0.2em;*/
  width: 100%;
  float: left;
  display: inline-block; 
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.8em;    
  float: left;
  font-weight: bold;
  color: #999;
  /*line-height: 1.35rem;*/
}


.fix_sidebar ol > li:before{
  position: relative;
  height: inherit;
  line-height: 2.3em;
  float: left;
}

.markdown li > p {
  margin-top: 0;
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") "  ";
}

code {
  background-color: #eee;
  padding: 0.25rem;
  border-radius: 0.15rem;
}

.header_logo {

  margin: 6rem;
  text-align: center;

}

.img_narrow {
  width: 80%;
}