.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #333;
  overflow: hidden;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  line-height: 1.8;
  word-wrap: break-word;
  /*padding: 1cm;*//* 2.54cm 2.54cm 2.54cm;*/
}

.sidebar {
  display: none;
}
* {
  font-size: 70% !important;
  line-height: 145% !important;
}

@page {
  counter-increment: pagebased 1;
  
}

/*h3 strong {
  display: none;
}*/

ul.toc a::after {
  content: leader('.') target-counter(attr(href), page);
}

h3 {
  font-size: 190% !important;
}
h2 {
  font-size: 210% !important;
}

.toc_ h3{
  font-size: 260% !important;
  color: #555 !important;
}
.toc_ {
  font-family: "Roboto Mono", monospace;
}
.toc_ .toc_lists {
  padding: 1em;
}
.toc_ .toc_lists *{
  line-height: 10px !important;
  font-size: 8px !important;
  font-family: "Roboto Mono", monospace;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.toc_ .toc_lists *{

  font-size: 0.9rem !important;
   line-height: 175% !important;
  font-family: "Roboto Mono", monospace;
}
.toc_ .toc_lists li b {
  float: right;
}

.toc_ .toc_lists ul,
.toc_ .toc_lists li{
  width: 100%;
  margin-right: 0;
  padding-right: 0;
  position: relative;
  float: left;
  clear: both;
  box-sizing: border-box;
  list-style: none;
}
.toc_ .toc_lists ul{
  padding-left: 3em !important;
}

.toc_ .toc_lists li {
  border-bottom: 1px solid #eee;
}

.toc_ {
  width: 100%;
}
