<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.typemytype.robofont.guides</key>
  <array>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>589</real>
      <key>name</key>
      <string>t</string>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>430</real>
      <key>name</key>
      <string>f1</string>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>276</real>
      <key>name</key>
      <string>f</string>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>62</real>
      <key>name</key>
      <string>b</string>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>341.95</real>
      <key>name</key>
      <string>f2</string>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>337.93</real>
      <key>name</key>
      <string>f3</string>
    </dict>
    <dict>
      <key>angle</key>
      <real>90</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>196</real>
      <key>y</key>
      <real>0</real>
      <key>name</key>
      <string>f4</string>
    </dict>
    <dict>
      <key>angle</key>
      <real>90</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>200</real>
      <key>y</key>
      <real>0</real>
      <key>name</key>
      <string>f5</string>
    </dict>
  </array>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>Lambda</string>
    <string>uni0417</string>
    <string>Omicron</string>
    <string>uni041B</string>
    <string>uni0427</string>
    <string>Beta</string>
    <string>Pi</string>
    <string>Epsilon</string>
    <string>S</string>
    <string>J</string>
  </array>
</dict>
</plist>
